.card {
    
    width: 25%;
    height: 20%;
    border-color: grey;
    background-color: aquamarine;
    margin-top: 5vh;
    margin-left: 3vw;
    padding: 2%;
    border-radius: 10px;

}

.containeruser{
    width: 100vw;
    margin-top: 5vh;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    
}      

form{
    display: flex;
    flex-flow: column;
    align-items: center;
}

input{
    width: 30%;
    margin-top:3vh;
    
}

button{
    width: 30%;
    margin-top:3vh;
}

body{
    overflow-x: hidden;
}   